.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    /* top-bottom, left-right */
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
}

/* search */

.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput{
    height: 9px;
    padding: 10px;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;   
    height: 22px !important;
    background-color: #cd9042;
}

/* nav */

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__optionBasket{
    display: flex;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
